<div class="container">
  <h1>ANGULAR + ASP.NET CORE CRUD</h1>
  <div class="cargas-container">
    <div class="cargas-form">
      <form>
        <div class="form-group">
          <label for="">Quantidade</label><br>
          <input type="number" name="">
        </div>
        <div class="form-group">
          <label for="">Classe</label><br>
          <input type="text" name="">
        </div>
        <div class="form-group">
          <label for="">Capacidade (em toneladas)</label><br>
          <input type="number" step="0.01" name="">
        </div>
        <div class="form-group">
          <label for="">Data e hora de saída</label><br>
          <input type="datetime-local" name="">
        </div>
        <div class="form-group">
          <label for="">Data e hora de retorno</label><br>
          <input type="datetime-local" name="">
        </div>
      </form>
    </div>
  </div>
</div>